.topics-wrapper {
    background-color: #424357;
    height: 100%;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

all-topics{
    display: flex;
    margin-top: 2rem;
}

.topics-list {
    flex: 1
}

.links-list {
    flex: 4;
    padding-left: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #47566D;
}

.links-list a {
    color: #bed3f5;
}

post-topic{
    display: flex;
    width: 40%;
    max-height: 20rem;
    border: 0.15rem solid white;
    margin: 0 auto;
    padding: 1rem;
}

topic-item {
    cursor: pointer;
}

topic-item:hover {
    color: #f0f069;
}

.link-section-post {
    background-color: rgba(252, 252, 252, 0.07);
    box-shadow: 0px 4px 6px #453838;
    margin: 1rem;
    padding: 1rem;
}

.topics-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
}

.topics-button {
    flex: 1;
    color: #b8edc9;
    background-color: #187780;
    margin: 0.2rem;
    cursor: pointer;
    padding: 0.1rem;
}

.topics-button:active {
    background-color: #1abccc;
}

.open-link {
    cursor: pointer;
}

.open-link:hover {
    color: #7BFFDE;
}

.link{
    font-size: larger;
}

.add-link-input {
    height: 1.5rem;
    background: #1b305a;
    border: none;
    margin-top: 1rem;
    color: wheat;
    font-size: 20px;
    padding: 0.2rem;
    padding-left: 0.8rem;
    width: 95%;
}

.add-link-button {
    margin-top: 0.8rem;
    padding: 0.3rem;
    background-color: #536487;
    color: white;
    width: 4rem;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}

.topic {
    padding: 0.7rem;
    /*border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);*/
    background: #252637;
    margin-bottom: 0.7rem;
    cursor: pointer;
    min-height: 3rem;
    color: #B7B7CE;
}

.topic:hover{
    background: #1A1A35;
    color: #ADAFF2;
}

.topic-options {
    margin: 0.3rem;
    margin-top:1rem;
}

.topic-option {
    /*background: rgba(103, 70, 236, 0.72);*/
    background: none;
    border: none;
    color: #B7B7CE;
    padding: 0.3rem;
}

.topic-option:hover{
    color: #7BFFDE;
}

.topic-option:active{
    background: rgba(123, 94, 241, 0.9);
}
.add-link-parent {
    display: flex;
    color: #fff;
    align-items: center;
    height: 100%;
    background-color: #1E2533;
}

.add-link-div {
    margin: 5%;
    border: 2px white;
    background-color: rgba(132, 140, 195, 0.15);
    padding: 1rem;
    flex: 1;
}

.topic-name {
    color: #90ecfb;
}